body{
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 80%;
    padding: 40px;
}

.group{
    height:80px;
    text-align: center;
}

main{
    padding: 20px;
    width 100%;
}

section{
    padding: 20px;
    display: flex;
    justify-content: center;
    text-align: center;
    border: 1pt solid gray;
}

.quizStart{
    display: block;
    align-items: center;
}

.startButton{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}